.img-center {
  text-align: center;
}

img,
input {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */

  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.delete-button {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #ccccff;
  margin: 0 10px;
}

button {
  background-color: #ccccff;
}

.filebox label:hover {
  cursor: pointer;
}
